html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  font-size: 2rem;
  font-family: "Vollkorn", serif;
  line-height: 1.3;
  color: #333;
}

.page__content {
  padding: 0 1rem;
}

.keyword {
  font-weight: bold;
  background-color: #fff9c4;
}

.header__title {
  font-size: 8.8vw;
  font-weight: bold;
  background-color: #ffeb3b;
  padding: 1rem;
  text-align: center;
}

.article__title {
  background-color: #ffeb3b;
  font-weight: bold;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.part-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
  border-bottom: 0.2rem solid #ffeb3b;
  text-transform: capitalize;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: #333;
}

img,
source {
  width: 100%;
  height: auto;
}

.freddy {
  display: block;
  width: 90vw;
  height: auto;
  margin: 0 auto;
}

.menu {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  max-width: 96rem;
}

.menu__link {
  padding: 0.5rem 1rem;
  border-bottom: 0.1rem solid grey;
  text-decoration: none;
  color: #333;
}

.zeges {
  background-color: #fff59d;
  padding: 1rem;
}

.paragraphp {
  margin-bottom: 2rem;
}

.palmares__list {
  list-style: circle;
}
.palmares__item {
  margin-left: 3rem;
}

.page__footer {
  font-size: 2rem;
  margin-top: 3vh;
  height: 10vh;
  background-color: #ffeb3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 400px) {
  .menu__link {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 500px) {
  .main-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      "title title"
      "intro img"
      "carriere carriere"
      "vervolg vervolg"
      "outro outro"
      "zeges zeges"
      "palmares palmares";
  }

  .article__title {
    grid-area: title;
  }

  .intro {
    grid-area: intro;
  }

  .freddy {
    width: 100%;
    grid-area: img;
    margin: 0;
  }

  .carriere {
    grid-area: carriere;
  }

  .vervolg {
    grid-area: vervolg;
  }

  .outro {
    grid-area: outro;
  }

  .zeges {
    grid-area: zeges;
  }

  .palmares {
    grid-area: palmares;
  }
}

@media only screen and (min-width: 700px) {
  .main-article {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1rem;
    grid-template-areas:
      "title title"
      "img intro"
      "img carriere"
      ". vervolg"
      "zeges outro "
      ". palmares";
  }

  .header__title {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 900px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 1rem;
    grid-template-areas:
      "title title . "
      "intro intro  ."
      "img img img"
      ". carriere carriere"
      ". vervolg vervolg"
      "outro outro zeges"
      ". palmares palmares";
  }
}

@media only screen and (min-width: 960px) {
  .main-article {
    max-width: 96rem;
    margin: 0 auto;
  }

  .menu,
  .menu-list {
    margin-left: auto;
    margin-right: auto;
  }
}
